# Dependencies
node_modules/

# TypeScript build output
dist/

# IDE and system files
.DS_Store


.env


lambda.zip

# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json